<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <a routerLink="/" class="brand-link">
          📝 Task Tracker
        </a>
      </div>
  
      <div class="navbar-menu">
        <ng-container *ngIf="isAuthenticated">
          <a routerLink="/tasks" routerLinkActive="active" class="nav-link">
            My Tasks
          </a>
          <div class="user-info">
            <span class="username">👤 {{ currentUser?.username }}</span>
            <button class="btn btn-logout" (click)="logout()">
              Logout
            </button>
          </div>
        </ng-container>
  
        <ng-container *ngIf="!isAuthenticated">
          <a routerLink="/login" routerLinkActive="active" class="nav-link">
            Login
          </a>
          <a routerLink="/register" routerLinkActive="active" class="nav-link">
            Register
          </a>
        </ng-container>
      </div>
    </div>
  </nav>